.ExecuteFlowForm-submit {
  background: rgb(236, 88, 88);
  border: 0px;
  padding: 1.5em;
  color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
  flex: 0 0 0.33%;
}

.ExecuteFlowForm-submit-container {
  flex: 1;
  justify-content: flex-end;
  display: flex;
}

@media (max-width: 400px) {
  .ExecuteFlowForm-submit {
    flex: 1;
  }
}
